<div class="register-container">
    <h2>Create Account</h2>
    <form class="register-form" (ngSubmit)="register()">
        <div class="form-group">
            <input id="username" type="text" placeholder="Username" [(ngModel)]="signupRequest.username" name="username" required>
        </div>
        <div class="form-group">
            <input id="email" type="email" placeholder="Email" [(ngModel)]="signupRequest.email" name="email" required>
        </div>
        <div class="form-group">
            <input id="password" type="password" placeholder="Password" [(ngModel)]="signupRequest.password" name="password" required>
        </div>
        <button type="submit">Register</button>
    </form>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </div>
  