<div class="register-container">
    <h2>Create Account</h2>
    <form (ngSubmit)="register()">
      <input type="text" placeholder="Username" [(ngModel)]="signupRequest.username" name="username" required>
      <input type="email" placeholder="Email" [(ngModel)]="signupRequest.email" name="email" required>
      <input type="password" placeholder="Password" [(ngModel)]="signupRequest.password" name="password" required>
      <button type="submit">Register</button>
    </form>
    <div *ngIf="errorMessages.length > 0" class="error-messages">
      <ul>
        <li *ngFor="let errorMessage of errorMessages">{{ errorMessage }}</li>
      </ul>
    </div>
  </div>
  