.dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
}

.top-bar {
    background-color: #003366;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.top-bar h2 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.profile-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.main-content {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
  }

.sidebar {
    background-color: #004080;
    color: white;
    width: 200px;
    padding: 20px;
    box-sizing: border-box;
}

button {
  border-radius: 10px;
  height: 40px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #88a6c5;
}
.dashboard-container {
    background-color: #dadddd;
    flex-grow: 1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.upload-sessions {
    margin-top: 20px;
}

.upload-sessions .session {
    width: 100%;
    padding-left: 4px;
    padding-right: -5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #d4dde8;
}
